body{
    background-color: #000000;
    font-family: 'Heebo', sans-serif;
}
.contenedor{
    background-color: #ffffff;
    width: 650px;
    height: 70%;
    margin: auto;
    margin-top: 5%;
}
.perfil{
    float: left;
    width: 70px;
    text-align: center;
    font-size: 55px;
    margin-top: center;
}

.icono-instagram{
    width: 30px;
    height: 30px;
    margin-top: 30px;
}

.titulo{
    float: left;
    font-size: 20px;
    overflow: hidden;
    margin-top: 30px;
}

.mas{
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}
.mas a{
    color: #000000;
    font-size: 30px;
}
.acciones{
    margin:20px;
}
.imagen-perros {
    width: 100%;
}
.etiquetar{
    float: right;
}
.post a{
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}
.post{
    margin: 20px;
}